.bompopup {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.bompopup form {
    display: grid;
    grid-template-columns: auto;
}

.close {
    color: black;
    font-size: 20px;
    width: 10%;
}