@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "normal";
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  --primary: #cbe2c8;
  --secondary: #e8fd9d;
  --pure: #d6dfea;
  --tertiory: #cbe2c8;
  --optional: #f3f7f5;
  --dark-bg: #0f1122;
  --btn-bg: #d49d1f;
  --btn-bg2: #ffbc25;
}

.invoice-container .invoice-header {
  width: 100%;
  background-color: var(--dark-bg);
  color: white;
  text-indent: 8px;
  height: 5vh;
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.invoice-container .invoice-header h3 {
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 8px;
}
.invoice-body .top-section {
  display: flex;
  gap: 4rem;
  margin-bottom: 12px;
  background-color: var(--optional);
  align-items: center;
  padding: 6px;
}
.invoice-body .top-section label,
.innerDiv label {
  color: var(--dark-bg);
  font-size: 15px;
  letter-spacing: 0.8px;
}
.invoice-body .top-section select,
.innerDiv select {
  width: 340px;
  padding: 4px;
  outline: none;
  border: none;
  color: var(--dark-bg);
  text-indent: 6px;
  font-size: 15px;
}
.invoice-body .top-section button {
  border: none;
  background-color: var(--btn-bg2);
  padding: 4px 8px;
  font-size: 15px;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.invoice-body .top-section button:hover {
  background-color: white;
  border: 1px solid var(--btn-bg2);
}
.middle-section {
  margin-top: 2rem;
}
.innerDiv {
  display: flex;
  gap: 4rem;
}
.innerDiv input {
  min-width: 300px;
  border: none;
  outline: none;
  padding: 4px;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-indent: 6px;
  border-radius: 4px;
}

.bottom-div {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 1rem;
}

.invoice-calci {
  margin-top: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
}
.invoice-calci table td input {
  border: 0.7px solid var(--dark-bg);
  border-radius: 4px;

  text-indent: 4px;
  padding: 4px;
  outline: none;
}
.invoice-calci-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-calci-header h3 {
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.invoice-calci-header button {
  background-color: var(--btn-bg2);
  padding: 4px 8px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
}
.invoice-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  background-color: var(--optional);
  padding: 1rem;
  gap: 1rem;
}
.invoice-detail h3 {
  font-size: 14px;
}
.invoice-detail input {
  width: 220px;
  font-size: 12px;
}
.invoice-detail textarea {
  min-height: 50px;
  min-width: 440px;
  outline: none;
  border: none;
  text-indent: 6px;
  font-size: 14px;
  letter-spacing: 0.8px;
}
.data-save-btn {
  display: flex;
  gap: 8px;
}
.data-save-btn button {
  border: none;
  background-color: var(--btn-bg2);
  padding: 4px 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  border-radius: 4px;
}

.invoice-tally {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 4px;
}
.invoice-tally .tally-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-tally .tally-head h3 {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}
.tally-body {
  background-color: var(--optional);
  padding: 12px;
  border-radius: 4px;
}
.tally-body .tally-outer-body {
  margin-bottom: 1rem;
}
.tally-body .tally-outer-body,
.tally-body .tally-inner-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.tally-body .tally-inner-body p {
  font-size: 14px;
  letter-spacing: 0.7px;
}
.tally-body .tally-inner-body input {
  width: 240px;
  padding: 4px;
  border: none;
  outline: none;
  text-indent: 6px;
  font-size: 14px;
}
.tally-body .tally-inner-body .check {
  display: flex;
  gap: 12px;
}
.tally-body .tally-inner-body .check span {
  font-size: 14px;
}
.tally-body .tally-inner-body .check input {
  width: 20px;
  padding-right: 6px;
}
.tally-body .tally-inner-body select {
  width: 220px;
  outline: none;
  padding: 4px;
  font-size: 14px;
  border: none;
}
.tally-outer-body .advance input {
  max-width: 190px;
}
.tally-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tally-footer p {
  color: var(--dark-bg);
  font-weight: bold;
}
