@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "normal";
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  font-family: "Poppins", sans-serif;

  --primary: #cbe2c8;
  --secondary: #e8fd9d;
  --pure: #d6dfea;
  --tertiory: #cbe2c8;
  --optional: #f3f7f5;
  --dark-bg: #0f1122;
  --btn-bg: #d49d1f;
  --btn-bg2: #ffbc25;
}
* {
  font-family: "Poppins", sans-serif;
}
.finance-container {
 background-color: var(--dark-bg);
  min-height: 50vh;
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 2rem;
}
.finance-container .finance-content {
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.finance-container .finance-content h3 {
  font-size: 20px;
}
.finance-container .finance-content p {
  font-size: 14px;
  color: #ccc;
}
.finance-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.finance-stats .left-stats h3 {
  font-size: 22px;
}
.finance-stats .stats div h2 {
  font-size: 18px;
}

.finance-stats span {
  color: var(--secondary);
  font-size: 12px;
}
.finance-stats .icon {
  font-size: 4rem;
  padding: 20px;
  padding-bottom: 1px;
  text-align: left;
  color: var(--btn-bg2);
}
.finance-stats .stats {
  display: flex;
}

.finance-cards {
  position: absolute;
  top: 8rem;
  z-index: 111;
  left: 2rem;
  min-width: 60%;
  right: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.finance-cards .single-card {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: white;
  padding: 14px;
  border-radius: 4px;
}
.finance-cards .single-card .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.finance-cards .single-card .icon h3 {
  font-size: 18px;
  font-weight: 500;
}
.finance-cards .single-card .icon p {
  color: gray;
  font-size: 14px;
}
.finance-cards .single-card .icon .icons {
  font-size: 2rem;
}
.finance-graph-container {
  position: absolute;
  top: 20rem;
  left: 2rem;
  right: 2rem;
  border-radius: 4px;
  display: flex;
  gap: 1rem;
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.graph-container {
  box-sizing: border-box;
  background-color: white;
  width: 70%;
  border-radius: 4px;
}

.recent-payment-container {
  flex: 1;
  box-sizing: border-box;
}
.finance-graph-container .graph-container {
  padding: 1rem;
}

.finance-graph-container .graph-container .graph-header h3 {
  font-size: 18px;
}
.finance-graph-container .graph-container .graph-tabs {
  display: flex;
  justify-content: space-between;
}
.finance-graph-container .graph-container .graph-tabs div {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.finance-graph-container .graph-container .graph-tabs div h3 {
  font-size: 14px;
}
.finance-graph-container .graph-container .graph-tabs div p {
  padding-top: 8px;
  font-size: 14px;
}

.finance-graph-container .graph-container .graph-body {
  margin-top: 2rem;
}
.recent-payment-container {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  width: 50%;
  height: 70vh;
  overflow-y: auto;
  position: relative;
}

.recent-payment-container .payment-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.recent-payment-container .payment-header h3 {
  font-size: 16px;
  padding-bottom: 12px;
  text-align: start;
  background-color: white;
}

.recent-payment-container .payment-serch {
  display: flex;
  gap: 8px;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 28px;
  background-color: white;
  z-index: 10;
}
.recent-payment-container .payment-serch input {
  height: 5vh;
  border-radius: 4px;
  border: none;
  background-color: var(--optional);
  font-size: 12px;
  text-indent: 5px;
  width: 90%;
}
.recent-payment-container .payment-serch .calender .icon {
  font-size: 2rem;
}
.recent-payment-container .payment-list .single-payment {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  margin-top: 1rem;
}
.recent-payment-container .payment-list .single-payment h3 {
  font-size: 14px;
  text-wrap: nowrap;
}
.recent-payment-container .payment-list .single-payment h5 {
  font-size: 14px;
}
.recent-payment-container .payment-list .single-payment p {
  font-size: 12px;
  color: gray;
}
.process-item-list{
  background-color: white;
  margin-top: 1rem;
  color: black; 
  

}
