.ddContainer {
  display: flex;
}

.dropdown-container {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .dropdown-container2 {
    width: 550px;
    margin-left: 10px;
  }
  
  .dropdown-label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 14px;
    color: #333;
  }
  
  .custom-dropdown {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  .custom-dropdown:focus {
    border-color: #007bff;
  }
  
  .custom-dropdown option {
    padding: 10px;
  }
  